img {
  border-radius: 50px;
}
.table {
  text-align: center;
  text-shadow: 1px 1px 2px gray;
  font:
    italic 16px Arial,
    sans-serif;
}
.head {
  background-color: #f2a365;
  color: white;
}
#Top {
  text-align: center;
  text-shadow: 2px 2px 4px #aaa;
  font:
    bold 30px "Trebuchet MS",
    sans-serif;
  color: navy;
}

.top {
  background: blue;
  color: white;
  border: 2px solid #00ff99;
  padding: 12px 30px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.top:hover {
  background: skyblue;
  color: blue;
  text-transform: lowercase;
}
tr td:nth-child(odd) {
  background-color: skyblue;
  color: white;
}
tr td:nth-child(even) {
  background-color: #f2a365;
}
